</div>
				</div>
			<span class="corners-bottom"><span></span></span>
		</div>
		</div>
	</div>
	
	<!--
		We request you retain the full copyright notice below including the link to www.phpbb.com.
		This not only gives respect to the large amount of time given freely by the developers
		but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
		the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
		"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
		forums may be affected.

		The phpBB Group : 2006
	//-->
	
	<div id="page-footer">
		<a href="http://www.phpbb.com/">phpBB</a> &copy; 2000, 2002, 2005, 2007 <a href="http://www.phpbb.com/">phpBB Group</a><br />
		<a href="http://www.mihalism.com/product/mfh/">Mihalism Multi Forum Host</a> &copy; 2007, 2008 <a href="http://www.mihalism.com/">Mihalism, Inc.</a><br />
		<a href="http://zero-proyect.net.ms">Zero Proyect</a> &copy; 2012, 2013 <a href="http://zero-proyect.net.ms">Editado por Zero</a>
	</div>
</div>
</body>
</html>
