<!-- INCLUDE overall_header.html -->
<!-- $Id: acp_points_robbery.html 748 2011-01-30 16:27:44Z Wuerzi $ -->

<a name="maincontent"></a>

<!-- IF S_ROBBERY -->

	<!-- IF S_ERROR -->
		<div class="errorbox">
			<h3>{L_WARNING}</h3>
			<p>{ERROR_MSG}</p>
		</div>
	<!-- ENDIF -->

	<h1>{L_ACP_POINTS} - {L_ACP_POINTS_ROBBERY_TITLE}</h1>
	<p>{L_ACP_POINTS_ROBBERY_EXPLAIN}</p>

	<div class="successbox">{L_ACP_POINTS_VALUES_HINT}</div>

	<form id="acp_robbery" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_ROBBERY_OPTIONS}</legend>
	<dl>
		<dt><label>{L_ROBBERY_ENABLE}:</label><br /><span>{L_ROBBERY_ENABLE_EXPLAIN}</span></dt>
		<dd><label><input type="radio" class="radio" name="robbery_enable" value="1"<!-- IF ROBBERY_ENABLE --> id="robbery_enable" checked="checked" <!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="robbery_enable" value="0"<!-- IF not ROBBERY_ENABLE --> id="robbery_enable" checked="checked" <!-- ENDIF --> /> {L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label>{L_ROBBERY_SENDPM}:</label><br /><span>{L_ROBBERY_SENDPM_EXPLAIN}</span></dt>
		<dd><label><input type="radio" class="radio" name="robbery_sendpm" value="1"<!-- IF ROBBERY_SENDPM --> id="robbery_sendpm" checked="checked" <!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="robbery_sendpm" value="0"<!-- IF not ROBBERY_SENDPM --> id="robbery_sendpm" checked="checked" <!-- ENDIF --> /> {L_NO}</label></dd>
	</dl>
	<dl>
		<dt><label for="robbery_chance">{L_ROBBERY_CHANCE}:</label><br /><span>{L_ROBBERY_CHANCE_EXPLAIN}</span></dt>
		<dd><input type="text" id="robbery_chance" name="robbery_chance" value="{ROBBERY_CHANCE}" maxlength="5" size="10" /> %</dd>
	</dl>
	<dl>
		<dt><label for="robbery_loose">{L_ROBBERY_LOOSE}:</label><br /><span>{L_ROBBERY_LOOSE_EXPLAIN}</span></dt>
		<dd><input type="text" id="robbery_loose" name="robbery_loose" value="{ROBBERY_LOOSE}" maxlength="5" size="10" /> %</dd>
	</dl>
	<dl>
		<dt><label for="robbery_max_rob">{L_ROBBERY_MAX_ROB}:</label><br /><span>{L_ROBBERY_MAX_ROB_EXPLAIN}</span></dt>
		<dd><input type="text" id="robbery_max_rob" name="robbery_max_rob" value="{ROBBERY_MAX_ROB}" maxlength="5" size="10" /> %</dd>
	</dl>
	<dl>
		<dt><label>{L_ROBBERY_USAGE}:</label><br /><span>{L_ROBBERY_USAGE_EXPLAIN}</span></dt>
		<dd><label><input type="radio" class="radio" name="robbery_usage" value="1"<!-- IF ROBBERY_USAGE --> id="robbery_usage" checked="checked" <!-- ENDIF --> /> {L_ROBBERY_USAGE_LOTTERY}</label>
			<label><input type="radio" class="radio" name="robbery_usage" value="0"<!-- IF not ROBBERY_USAGE --> id="robbery_usage" checked="checked" <!-- ENDIF --> /> {L_ROBBERY_USAGE_RANDOM}</label></dd>
	</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<legend>{L_SUBMIT}</legend>
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->